.wrapper {
  overflow: auto;
}

.row {
  display: flex;
  padding: 2px 0;
  border-bottom: 1px solid gray;
  min-height: 20px;
}

.line {
  font-family: "JetBrains Mono", monospace;
  flex-shrink: 0;
  width: 500px;
}

.polyCol {
  /* display: flex; */
  width: 220px;
  margin-right: 35px;
  word-break: break-all;
}

.whitespace {
  display: inline-block;
  width: 12px;
}
