.wrapper {
  overflow: auto;
}

.row {
  display: flex;
  padding: 2px 0;
  min-height: 20px;
}

.line {
  border-bottom: 1px solid gray;
  font-family: "JetBrains Mono", monospace;
  flex-shrink: 0;
  width: 500px;
  padding-right: 45px;
  font-size: 13px;
}

.lineNo {
  width: 34px;
  text-align: right;
  padding: 0 6px;
}

.polyCol {
  font-size: 12px;
  /* display: flex; */
  width: 220px;
  padding-left: 35px;
  word-break: break-all;
}

.whitespace {
  display: inline-block;
  width: 12px;
}
